Cython==0.29.30
dnspython==2.2.1
guppy3==3.1.2
llvmlite==0.38.1
Morfessor==2.0.6
numba==0.55.2
numpy==1.22.4
pandas==1.4.2
polyglot==16.7.4
psutil==5.9.1
pycld2==0.41
PyICU==2.9
pymongo==4.1.1
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
regex==2022.6.2
six==1.16.0
